<!DOCTYPE html>
<html>
<head>
    <title>About our project</title>
</head>
<body>

    <div class="sidebar">
        <ul>
            <li>
                Janus is an interactive map that delivers real-time news on social impact and humanitarian issues,
                both locally and around the world, with AI-driven summaries and ways to take action.
            </li>
            <li>
                Made in 24 hours for SCU Hack for Humanity 2025 by Matthew Cai, Ava Rouzmehr, Lawrence Wang, Yuexiang Wu, and Kaelan Yim.
            </li>
        </ul>
    </div>

</body>
</html>