<!DOCTYPE html>
<html>
<head>
    <title>Custom Leaflet Map</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" 
        integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" 
        crossorigin="" />
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/popup.css">
    <link rel="stylesheet" href="../static/css/sidebar.css">
    <link rel="stylesheet" href="../static/css/showcase.css">

    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" 
            integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" 
            crossorigin=""></script>
    <script src="../static/js/popup.js"></script>
    <script src="../static/js/map.js"></script>
    <script src="../static/js/sidebar.js"></script>
</head>
<body>
    <section class="showcase">
        <!-- Navigation Container -->
        <div class="navigation-container">
            <!-- Navigation Section -->
            <div class="nav-section">
                <a href="/">Home</a>
                <a href="/about">About</a>
            </div>
            
            <!-- Zoom Controls Section -->
            <div class="nav-section zoom-controls">
                <div class="zoom-button" id="zoom-in">+</div>
                <div class="zoom-button" id="zoom-out">-</div>
            </div>
        </div>

        <!-- Map -->
        <div id="map"></div>
    </section>
    
    <div class="sidebar">
        <div class="category-list"></div>
    </div>

    <script>
        // Add zoom functionality
        document.getElementById('zoom-in').addEventListener('click', () => {
            map.zoomIn();
        });

        document.getElementById('zoom-out').addEventListener('click', () => {
            map.zoomOut();
        });
    </script>
</body>
</html>