.showcase a {
    color: #7575c5;
    font-family:'Courier New', Courier, monospace;
    font-size: medium;
    text-decoration: none;
    padding: 10px 10px;
    margin-right: 10px;
    border-radius: 3px;
}

.showcase a:hover {
    background-color: rgb(220, 232, 236); /* Hover effect */
}