.showcase a {
    color: darkblue;
    text-decoration: none;
    padding: 10px 15px;
    border: 2px solid darkblue; /* Box border */
    margin-right: 10px;
    border-radius: 5px;
    display: inline-block;
}

.showcase a:hover {
    background-color: lightblue; /* Hover effect */
}

.active {
    background-color: #04AA6D;
    color: white;
}